.title {
  font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  color: #2e2e2e;
  text-align: left;
}

.action-dropdown {
  margin-left: 2%;
}

.action-dropdown > button {
  padding: 3px 21px 3px 13px;
}

.action-dropdown > button.expanded {
  color: #262262 !important;
}

.action-btn {
  box-sizing: border-box;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(221, 221, 221, 1) !important;
  border-radius: 5px !important;
  box-shadow: none;
  font-family: "Montserrat Medium", "Montserrat Regular", "Montserrat",
    sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #333333;
}