.sign-in-container {
    margin-top: auto;
  padding: 100px;
  border-radius: 5px;
  background-color: #fefefe;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
}

.eye {
  border: 1px solid #ced4da;
}