body {
  margin: 0;
  font-family: "Montserrat" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat"),
   url("./fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
 }

 @font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat"),
   url("./fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
 }

 @font-face {
  font-family: "Montserrat SemiBold";
  src: local("Montserrat"),
   url("./fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
 }

 @font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
 }

 @font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat"),
   url("./fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
 }
 